*{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.header img{
    float: left;
}

.header h1{
    text-align: right;
}

.woman-image{
    max-width: 25%;
}

.violet-section{
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #9735AC;
    color: white;
}

.img-padlock{
    max-width: 10%;
    float: left;
}

h1, h2{
    text-align: center;
    color: #9735AC;
}

pre{
    float: left;
    font-size: 50px;
}

.hashtag{
    font-weight: bold;
}